<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>W.Hamra · Contact</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
    <script src="{% static 'js/vendor/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/vendor/respond.min.js' %}"></script>
    <![endif]-->

    <!--favicon section-->

    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">


</head>
<body>

<!-- START: header -->

<div class="probootstrap-loader"></div>

<header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="{% url 'index' %}" class="probootstrap-logo">W<span>.Hamra</span></a>

        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <ul class="probootstrap-right-nav hidden-xs">
                <li><a href="https://www.linkedin.com/in/medwassimhamra/"><i class="icon-linkedin"></i></a></li>
                <li>
                    <a href="https://mail.google.com/mail/u/1/#inbox?compose=CllgCJlLWMTNrnlgJRQcBgjLcHFkHPRxLwsnhRkrCNgtVXfsJZhPpWqTpMmjfNfXqNMrLRCbGSV"><i
                            class="icon-mail"></i></a></li>
                <li><a href="https://github.com/Wassim-Hamra?tab=repositories"><i class="icon-github2"></i></a></li>
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Address</h5>
                <p>2094, Mustapha Khaznadar Street, Ariana, Tunisia</p>
                <h5>Connect</h5>
                <ul class="social-buttons">
                    <li><a href="https://www.linkedin.com/in/medwassimhamra/"><i class="icon-linkedin"></i></a></li>
                    <li>
                        <a href="https://mail.google.com/mail/u/1/#inbox?compose=CllgCJlLWMTNrnlgJRQcBgjLcHFkHPRxLwsnhRkrCNgtVXfsJZhPpWqTpMmjfNfXqNMrLRCbGSV"><i
                                class="icon-mail"></i></a></li>
                    <li><a href="https://github.com/Wassim-Hamra?tab=repositories"><i class="icon-github2"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- END: header -->
<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url({% static 'img/contac.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate">
                            <h2>Contact</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- END: slider  -->

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form method="POST" class="probootstrap-form mb60">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.first_name.id_for_label }}">First Name</label>
{#                                {{ form.first_name }}#}
{#                                {{ form.first_name.errors }}#}
                                <input type="text" class="form-control" id="fname" name="fname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.last_name.id_for_label }}">Last Name</label>
{#                                {{ form.last_name }}#}
{#                                {{ form.last_name.errors }}#}
                                <input type="text" class="form-control" id="lname" name="lname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email</label>
{#                        {{ form.email }}#}
{#                        {{ form.email.errors }}#}
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.message.id_for_label }}">Message</label>
{#                        {{ form.message }}#}
{#                        {{ form.message.errors }}#}
                        <textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Send Message">
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-md-push-1">
                <h4>Contact Details</h4>
                <ul class="with-icon colored">
                    <li><i class="icon-location2"></i> <span>2094, Mustapha Khaznadar Street, Ariana, Tunisia</span>
                    </li>
                    <li><i class="icon-mail"></i><span>wassimhamraa@gmail.com</span></li>
                    <li><i class="icon-phone2"></i><span>+(216) 98 786 241</span></li>
                </ul>

                <h4>Feedback</h4>
                <p>If you have any suggestions for this website, email me here</p>
                <p>
                    <a href="https://mail.google.com/mail/u/1/#inbox?compose=CllgCJlLWMTNrnlgJRQcBgjLcHFkHPRxLwsnhRkrCNgtVXfsJZhPpWqTpMmjfNfXqNMrLRCbGSV">Send
                        Email</a></p>
            </div>
        </div>
    </div>
</section>

<footer class="probootstrap-footer probootstrap-bg">
    <div class="container">
        <div class="row mb60">
            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <h4 class="heading">About This Page.</h4>
                    <p>This website was coded in HTML, CSS and JavaScript using Boostrap, JQuery and Django.</p>
                    <p><a href="{% url 'project_website' %}">See more...</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="probootstrap-footer-widget probootstrap-link-wrap">
                    <h4 class="heading">Quick Links</h4>
                    <ul class="stack-link">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'projects' %}">Projects</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="probootstrap-footer-widget probootstrap-link-wrap">
                    <h4 class="heading">Subscribe</h4>
                    <p>Stay updated with my latest projects</p>
                    <form method="#">
                        {% csrf_token %}
                        <div class="form-field">
                            <input type="text" name="email" class="form-control" placeholder="Enter your email">

                            <button type="submit" class="btn btn-subscribe">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-6">
                <div class="probootstrap-footer-widget">
                    <p>&copy; 2023 <a href="https://uicookies.com/">uiCookies:Black</a>. Designed by <a
                            href="https://uicookies.com/">uicookies.com</a> <br> Developed by <a
                            href="{% url 'about' %}">Mohamed
                        Wassim Hamra</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="probootstrap-footer-widget right">
                    <ul class="probootstrap-social">
                        <li><a href="https://www.linkedin.com/in/medwassimhamra/"><i class="icon-linkedin"></i></a></li>
                        <li>
                            <a href="https://mail.google.com/mail/u/1/#inbox?compose=CllgCJlLWMTNrnlgJRQcBgjLcHFkHPRxLwsnhRkrCNgtVXfsJZhPpWqTpMmjfNfXqNMrLRCbGSV"><i
                                    class="icon-mail"></i></a></li>
                        <li><a href="https://github.com/Wassim-Hamra?tab=repositories"><i class="icon-github2"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
</div>
<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>