<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>W.Hamra · Home</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
    <script src="{% static 'js/vendor/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/vendor/respond.min.js' %}"></script>
    <![endif]-->

    <!--favicon section-->

    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">


</head>
<body>
<!-- START: header -->
<div class="probootstrap-loader"></div>

<header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="{% url 'index' %}" class="probootstrap-logo">W<span>.Hamra</span></a>

        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <ul class="probootstrap-right-nav hidden-xs">
                <li><a href="https://www.linkedin.com/in/medwassimhamra/"><i class="icon-linkedin"></i></a></li>
                <li>
                    <a href="https://mail.google.com/mail/u/1/#inbox?compose=CllgCJlLWMTNrnlgJRQcBgjLcHFkHPRxLwsnhRkrCNgtVXfsJZhPpWqTpMmjfNfXqNMrLRCbGSV"><i
                            class="icon-mail"></i></a></li>
                <li><a href="https://github.com/Wassim-Hamra?tab=repositories"><i class="icon-github2"></i></a>
                </li>
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Address</h5>
                <p>2094, Mustapha Khaznadar Street, Ariana, Tunisia</p>
                <h5>Connect</h5>
                <ul class="social-buttons">
                    <li><a href="https://www.linkedin.com/in/medwassimhamra/"><i class="icon-linkedin"></i></a></li>
                    <li>
                        <a href="https://mail.google.com/mail/u/1/#inbox?compose=CllgCJlLWMTNrnlgJRQcBgjLcHFkHPRxLwsnhRkrCNgtVXfsJZhPpWqTpMmjfNfXqNMrLRCbGSV"><i
                                class="icon-mail"></i></a></li>
                    <li><a href="https://github.com/Wassim-Hamra?tab=repositories"><i
                            class="icon-github2"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- END: header -->
<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url({% static 'img/complex.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate">
                            <h2>Hello, I am <strong>Mohamed Wassim Hamra.</strong></h2>
                            <p><a href="{% url 'about' %}" target="_blank" class="btn btn-primary">About</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url({% static 'img/buildings.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate">
                            <h2>I am a <strong>Data Science Student</strong>. Inspired by tough problems.</h2>
                            <p><a href="{% url 'projects' %}" target="_blank" class="btn btn-primary">Projects</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url({% static 'img/slider_2.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate">
                            <h2>Reach out to me.</h2>
                            <p><a href="{% url 'contact' %}" target="_blank" class="btn btn-primary">Contact</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- END: slider  -->

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading probootstrap-animate">
                <h2 align="center"><strong>Areas of interest</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 interest">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <i class="icon-laptop3"></i>
                    </div>
                    <div class="text">
                        <h3 class="heading">Machine Learning</h3>
                        <p>I am passionate about learning the theory that is pushing the cutting edge of ML.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 interest">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <i class="icon-presentation"></i>
                    </div>
                    <div class="text">
                        <h3 class="heading">Data Analytics</h3>
                        <p>I love telling a story. Getting to the heart of a problem and coming up with a solution.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 interest">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <i class="icon-cloud3"></i>
                    </div>
                    <div class="text">
                        <h3 class="heading">Cloud Computing</h3>
                        <p>I utilize AWS to develop and productionize machine learning systems.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<div class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInLeft">

                <div class="panel-group probootstrap-panel" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h3 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">

                                    About Me
                                </a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>I am a Data Science Engineering student at the Faculty of Sciences in Tunis, Tunisia.
                                    With a strong passion for machine learning, data science, and data analytics, I'm on
                                    a journey to transform data into actionable insights.
                                    My academic journey has been a blend of theory and hands-on experience. I've
                                    dedicated my studies to mastering the art of data-driven decision-making. Through
                                    various projects and coursework, I've honed my expertise in machine learning, data
                                    science, and data analytics.
                                </p>
                                <p>Feel free to check the <a href="{% url 'projects' %}">projects page</a> to learn more
                                    about the work I do as a data science enthusiast.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Skills Expertise
                                </a>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Predictive Modeling | Behavior Analysis | Recommendation Systems | Computer Vision |
                                    A/B
                                    Testing | Optimization | Customer Segmentation | Time Series Analysis | Data
                                    Visualization | Cloud Computing | System
                                    Design | Database Design
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Tools & Technologies
                                </a>
                            </h3>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p><strong> Languages: </strong> Python | SQL | Java | C/C++ | R | Delphi | JavaScript | git | Javascript | PL/SQL | HTML & CSS</p>
                                <p><strong> Frameworks & Libraries: </strong> Scikit-Learn | TensorFlow | Keras | Pandas | Matplotlib | Numpy | Seaborn | Flusk | Django </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel-group -->
            </div>
            <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInRight">

                <figure>
                    <img src="{% static 'img/hackathon.jpg' %}" alt="Mohamed Wassim Hamra"
                         class="img-responsive img-border">
                    <figcaption>Me and my friends at a hackathon</figcaption>
                </figure>

            </div>
        </div>
    </div>
</div>
<!-- END section -->


<!-- END section cta -->

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading probootstrap-animate">
                <h2>Selected Projects</h2>
            </div>
        </div>
        <div class="row">
            {#            <div class="col-md-4 probootstrap-animate">#}
            {#                <div class="probootstrap-card">#}
            {#                    <div class="probootstrap-card-media">#}
            {#                        <a href="{% url 'under_development' %}"><img src="{% static 'img/slider_2.jpg' %}"#}
            {#                                                                     class="img-responsive img-border"#}
            {#                                                                     alt="Mohamed Wassim Hamra"></a>#}
            {#                    </div>#}
            {#                    <div class="probootstrap-card-text">#}
            {#                        <h2 class="probootstrap-card-heading mb0">Sleek Spaker</h2>#}
            {#                        <p class="category">Design</p>#}
            {#                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,#}
            {#                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the#}
            {#                            Semantics, a large language ocean.</p>#}
            {#                        <p><a href="{% url 'under_development' %}">View details</a></p>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <div class="col-md-4 col-sm-6 probootstrap-animate">
                <div class="probootstrap-card">
                    <div class="probootstrap-card-media">
                        <a href="{% url 'under_development' %}"><img src="{% static 'img/healthcenter.png' %}"
                                                                        class="img-responsive img-border"
                                                                        alt="Mohamed Wassim Hamra"></a>
                    </div>
                    <div class="probootstrap-card-text">
                        <h2 class="probootstrap-card-heading mb0">Health Center</h2>
                        <p class="category">Predictive Modeling | Web Development</p>
                        <p>An intuitive web app offering personalized health risk assessments using predictive models.
                            Empowering users to make informed health decisions through actionable insights.</p>
                        <p><a href="{% url 'under_development' %}">View details</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 probootstrap-animate">
                <div class="probootstrap-card">
                    <div class="probootstrap-card-media">
                        <a href="{% url 'project_website' %}"><img src="{% static 'img/screenshot.png' %}"
                                                                   class="img-responsive img-border"
                                                                   alt="Mohamed Wassim Hamra"></a>
                    </div>
                    <div class="probootstrap-card-text">
                        <h2 class="probootstrap-card-heading mb0">This Website</h2>
                        <p class="category">Web Development</p>
                        <p>A meticulously crafted digital portfolio that provides a comprehensive overview of my
                            professional accomplishments and personal projects. </p>
                        <p><a href="{% url 'project_website' %}">View details</a></p>
                    </div>
                </div>
            </div>
            {#            <div class="col-md-4 probootstrap-animate">#}
            {#                <div class="probootstrap-card">#}
            {#                    <div class="probootstrap-card-media">#}
            {#                        <a href="{% url 'under_development' %}"><img src="{% static 'img/slider_3.jpg' %}"#}
            {#                                                                     class="img-responsive img-border"#}
            {#                                                                     alt="Mohamed Wassim Hamra"></a>#}
            {#                    </div>#}
            {#                    <div class="probootstrap-card-text">#}
            {#                        <h2 class="probootstrap-card-heading mb0">Black Person</h2>#}
            {#                        <p class="category">Photography</p>#}
            {#                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,#}
            {#                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the#}
            {#                            Semantics, a large language ocean.</p>#}
            {#                        <p><a href="{% url 'under_development' %}">View details</a></p>#}
            {#                    </div>#}
            {#                </div>#}
        </div>
    </div>
    </div>
</section>
<!-- END section -->


<footer class="probootstrap-footer probootstrap-bg">
    <div class="container">
        <div class="row mb60">
            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <h4 class="heading">About This Page.</h4>
                    <p>This website was coded in HTML, CSS and JavaScript using Boostrap, JQuery and Django.</p>
                    <p><a href="{% url 'project_website' %}">See more...</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="probootstrap-footer-widget probootstrap-link-wrap">
                    <h4 class="heading">Quick Links</h4>
                    <ul class="stack-link">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'projects' %}">Projects</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="probootstrap-footer-widget probootstrap-link-wrap">
                    <h4 class="heading">Subscribe</h4>
                    <p>Stay updated with my latest projects</p>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-field">
                            <input type="text" name="email" class="form-control" placeholder="Enter your email">

                            <button type="submit" class="btn btn-subscribe">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-6">
                <div class="probootstrap-footer-widget">
                    <p>&copy; 2023 <a href="https://uicookies.com/">uiCookies:Black</a>. Designed by <a
                            href="https://uicookies.com/">uicookies.com</a> <br> Developed by <a
                            href="{% url 'about' %}">Mohamed
                        Wassim
                        Hamra</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="probootstrap-footer-widget right">
                    <ul class="probootstrap-social">
                        <li><a href="https://www.linkedin.com/in/medwassimhamra/"><i class="icon-linkedin"></i></a></li>
                        <li>
                            <a href="https://mail.google.com/mail/u/1/#inbox?compose=CllgCJlLWMTNrnlgJRQcBgjLcHFkHPRxLwsnhRkrCNgtVXfsJZhPpWqTpMmjfNfXqNMrLRCbGSV"><i
                                    class="icon-mail"></i></a></li>
                        <li><a href="https://github.com/Wassim-Hamra?tab=repositories"><i
                                class="icon-github2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
</div>
<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>


</body>
</html>